* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding-left: 20px;
}

.list > ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-weight: 700;
  padding: 10px;
}

.list > ul > li {
  padding: 10px;
  cursor: pointer;
}

.header > .logo > img {
  width: 50px;
  height: 50px;
}

.cart {
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-top: 10px;
  background: #ffffff;
  padding: 5px;
}

.cart > .cart-img >img {
  width: 200px;
  height: 200px;
  padding: 5px;
}

.cart > .res-detail {
  text-align: center;
  margin-top: 2px;
  width: 200px;
}

.cart > .res-detail > p {
  font-weight: 700;
  font-size: 12px;
}

.cart:hover {
  box-shadow:
  0 4px 8px 0 #ccc,
  0 6px 20px 0 #ccc;
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.buttons{
  display: flex;
  padding: 5px;
  margin: 5px;
  gap: 10px;
  justify-content: center;
  /* align-items: center; */
  /* justify-self: unset; */
}

#add_cart{
  padding: auto;
  margin: auto;
  background: goldenrod;
  color: #ffffff;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  
}

#add_cart:hover{
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}




#buy_now{
  padding: auto;
  margin: auto;
  background: goldenrod;
  color: #ffffff;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  
}

#buy_now:hover{
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}