* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding-left: 20px;
}

.list > ul {
  display: flex;
  gap: 10px;
  list-style: none;
  font-weight: 700;
  padding: 10px;
}

.list > ul > li {
  padding: 10px;
  cursor: pointer;
}

.header > .logo > img {
  width: 50px;
  height: 50px;
}


.cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}


.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  height: 400px;
  margin-top: 10px;
  background: #ffffff;
  gap: 10px;

  border-radius: 15px;
}

.cart > .cart-img > img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.cart > .res-detail {
  text-align: center;
  width: 200px;
  /* gap: 10px; */
}

.cart > .res-detail > p {
  /* margin: 5px; */
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
}

.cart:hover {
  box-shadow:
    0 4px 8px 0 #ccc,
    0 6px 20px 0 #ccc;
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.btn_box {
  display: flex;
  padding: 5px;
  margin: 5px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#add_cart {
  background: #333;
  color: #ffffff;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border: none;
}

#add_cart:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#buy_now {
  background: #ff6f61;
  color: #ffffff;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
}

#buy_now:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.price_rating {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: pink;
  font-size: 19px;
}

