* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(220, 220, 220);
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
